services:
  - type: web
    name: rpgo
    runtime: node
    rootDir: backend
    buildCommand: npm install && npx prisma generate
    startCommand: node src/index.js
    envVars:
      - key: NODE_ENV
        value: production
      - key: DATABASE_URL
        sync: false
      - key: SUPABASE_URL
        sync: false
      - key: SUPABASE_SERVICE_KEY
        sync: false
